/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

main {
    text-align: center;
    margin-top: 20px;
} */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

main {
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    margin: 20px;
    width: fit-content; /* Adjust width according to content */
}

.gnome-classes-container {
    display: flex; 
    justify-content: center;
    gap: 20px;
}

.background-container {
    background-color: rgb(186, 222, 235);
}
.game-interface {
    background-color: lightgrey;
}

.choose-class-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.gnome-class-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    overflow: hidden;
}

.gnome-class-image {
    width: 100%;
    height: auto;
    display: block;
}

.gnome-class-name {
    background-color: #eee;
    color: #333;
    margin: 0;
    padding: 10px 0;
}

.gnome-class-attributes {
    padding: 15px;
    text-align: left;
    font-size: 17px;
    text-align: center;
}

.gnome-class-attributes p {
    margin: 10px 0;
}

.character-and-enemy-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 120%;
    flex-wrap: wrap;
}

.healthpoints {
    font-size: 22px;
    font-weight: bolder;
}

.character-container, 
.enemies-container {
    margin-left: 75px;
    margin-right: 75px;
}

.character-image,
.Enemy-image {
    width: 400px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 30px;
    border: solid black 3px;
    width: 200px;
    background-color: lightblue;
}

.card:hover {
    border: solid yellow 2px;
    background-image: linear-gradient(to bottom, grey, blue);
    color: white
}

.character-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character-card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    overflow: hidden;
}

.character-card img {
    width: auto; 
    height: auto;
}

.character-card h2 {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.character-attributes {
    padding: 50px;
    border-radius: 8px;
    text-align: center;
}

.character-attributes p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.character-form {
    background-color: #f8f9fa;
    padding: 50px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left;
}

.character-form h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.character-form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.character-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    font-size: 16px;
}

.character-form button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.character-form button:hover {
    background-color: #218838;
}

.dead-page {
    background-color: darkgrey
}

.win-page {
    background-color: lightblue;
}

.win-header {
    color: black;
    font-size: 50px;
}

.dead-header {
    color: red;
    font-size: 50px;
}

.dead-image {
    width: 500px;
    height: 500px
}

.win-image {
    width: 500px;
    height: 500px
}